*{
	padding:0px;
	margin:0px;
	border:0px;
}
#box{
	width: 100%;
	font-family: "宋体";
	font-size: 12px;
	color: #474747;
	text-align: center; /*margin:0 auto;*/
	margin-top: 34px;
}
#top{
	width:1000px;
	height: 41px;
	margin-bottom: 20px;
	margin: 0px auto;
}
#logo{
	width:159px;
	height:41px;
	float:left;
}
#top_link{
	width:360px;
	height:18px;
	line-height: 18px;
	margin-top: 23px;
	float:right;
}
#top_link img {
	margin-left: 8px;
	vertical-align: bottom;
}
#top_link a {
	color: #8c8c8c;
	text-decoration: none;
}
#top_link a:hover {
	color: #f00;
}
#menu_bg {
	background: url(images/menu_center.jpg) repeat-x ;
	margin-top: 20px;
}
#menu{
	width:1000px;
	height: 97px;
	margin:0px auto;
}
#menu ul {
	height:97px;
	list-style: none;
	padding-left: 20px;
	float: left;
}
#menu ul li {
	position: relative;
	float: left;
}
#menu ul li a {
	font-family: "微软雅黑";
	font-size:18px;
	color: #fff;
	text-decoration: none;
	display: block;
	height: 48px;
	width: 140px;
	line-height: 48px;
	text-align: center;
}
#menu ul li a:hover{
	border-bottom: 2px solid #ccc;
	color: #ff0;
}
#menu ul li dl {
	display: none;
	position: absolute;
	top: 30px;
	left: 0px;
	width: 400px;
	padding-top: 12px;
}
#menu ul li:hover dl{
	display: block;
}
#menu ul li dl dd{
	float: left;
}
#menu ul li dl dd a {
	display: block;
	width: 100px;
	font-size: 14px;
	color: #000;
}
#menu ul li dl dd a:hover {
	color: #785c18;
}
#banner{
	width:1000px;
	height: 300px;
	margin: 0 auto;
}
#main{
	width:1000px;
	height: auto;
	text-align: left;
	margin: 0 auto;
}
#left{
	width:227px;
	height:376px;
	float: left;
	margin-top: 20px;
	background: url(images/left_bg.gif) repeat-x;
}
#list{
	width: 227px;
	height: 250px;
	padding-top: 72px;
	background: url(images/profile.gif) no-repeat ;
}
#list ul li {
	list-style: none;
	border-bottom: 1px solid #ccc;
	border-top: 2px solid #fff;
}
#list ul li a {
	color: #999;
	text-decoration: none;
	font-size: 14px;
	display: block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	padding-left: 60px;
}
#list ul li a:hover{
	font-weight: bold;
	color: #000;
}
#search {
	height:48px;
	width:164px;
	margin-left: 35px;
}
#search_name{
	height: 16px;
	width: 108px;
	border: 1px solid #d2d3d7;
	background:#ececec;
	margin-top: 5px;
	font-family: "宋体";
	font-size:12px;
	color: #666666;
	float: left;
}
#search_btn{
	float:right;
	margin-top: 5px;
}
#right{
	width:730px;
	height:376px;
	float: left;
	padding-left: 40px;
	background-color: #ffffff;
	padding-left: 40px;
	margin-top: 20px;
}
#table01{
	margin:0;
	padding:0;
	border:0;
	width: 690px;
}
caption{
	line-height: 30px;
	font-weight: bold;
	color: #000;
	font-size: 16px;
	font-family:"微软雅黑";
	text-align: left;
}
thead{
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	line-height: 32px;
	color:#164185;
	height:30px;
	background:url(images/thead_bg.gif) repeat-x;
}
td{
	line-height: 25px;
	padding-left: 10px;
	border-bottom: 1px dashed #cccccc;
}
#tablelist {
	text-indent:-1000em;
	width: 40px;
}
#type, #title, #time{
	text-align: left;
	padding-left: 10px;
	color: #666;
}
#type{ width: 80px; }
#title{ width: 400px; }

.font01{
	font-weight: bold;

}
.font02{
	font-weight: bold;
	color: #c0c0c0;
}
.odd{
	background: #f5f5f5;
}
table tr:hover{
	background: #e5e5e5;
}

#activity{
	width:1000px;
	height:280px;
	margin: 0 auto;
	clear: both;

}
#activity p{
	text-align: left;
	line-height: 30px;
	height: 30px;
	font:bold 16px "微软雅黑";
	color: #000;
	border-bottom:2px solid #ccc;
	margin-top: 20px;
}
#activity #pic1, #activity #pic2,  #activity #pic3{
	float: left;
	margin:10px 0px 0px 70px;
}
#pic1 ul li,#pic2 ul li, #pic3 ul li{
	list-style: none;
	font-size:14px;
	text-align: center;
	padding-top: 10px;
}
#footer{
	width:1000px;
	height:20px;
	margin: 0 auto;
	background-color: #e3e3e3;
	line-height: 20px;
	text-align: center;
	margin-top: 20px;
	padding: 20px 0px 20px 0px;

}